<h1>Blogs</h1>

<p>Please select a blog and begin reading our content!</p>

<ul>
	<% @blogs.each do |blog| %>
	<li>
		<p>
			<%= link_to blog.name, "/blogs/#{blog.id}" %>
		</p>

	</li>
	<% end %>
</ul>

<p>
	<small>
		<a class="btn btn-success pull-right" href="/blogs/new"> Create a new blog now!</a>
	</small>
	<!-- if you're not already a user, please register -->
<!-- please log in to create blog -->
</p>

<p>
	<%= link_to "Users Home", "/users" %>
</p>