<h1>Blogs</h1>

<p>Please select a blog and begin reading our content!</p>

<ul>
	<% @blogs.each do |blog| %>
		<li>
			<p>
				<%= link_to blog.name, "/blogs/#{blog.id}" %>
			</p>
		</li>
	<% end %>
</ul>

<% if (session[:user_id] != nil) %>
	<p>
		<small>
			<a class="btn btn-success pull-right" href="/blogs/new"> Create a new blog now!</a>
		</small>
	</p>
<% end %>

<p>
	<%= link_to "Home Page", "/users" %>
</p>