<p>
<a class="btn btn-success pull-right" href="/blogs/">Blog Home</a>
</p>

<h2>
  <%= @blog.name %>
</h2>

<p>
 	<b>Author:</b>	<%= link_to @blog.user.username, "/users/#{@blog.user.id}" %>
</p>

<p>
  <b>Description:</b> <%= @blog.description %>
</p>

<p>
	<%= link_to "EDIT BLOG", "/blogs/#{@blog.id}/edit" %>
</p>

