<h1>Write a Blog Post </h1>

<%= form_tag "/posts", :method => 'post' do %>
  <div>
    New post for <%= @blog.name %>
  </div>
  <div>
    <label>Post Title:</label>
  </div>
  <div>
    <input type="text" name="title">
  </div>
  <div>
    <input type="hidden" name="blog_id" value= "<%=params[:blog]%>">
  </div>
  <div>
    <h3>Post</h3>
  </div>
  <div>
    <%= text_area_tag('text', nil, size: "25x10") %>
  </div>
  <div>
    <input type="submit" value="submit post!">
  </div>
<% end %>
  